/* ==================== */
/* CSS Reset */
/* ==================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* ==================== */
/* Variables */
/* ==================== */
:root {
  --color-primary-1: #94b2f0;
  --color-secondary-1: #202125;
  --color-secondary-2: #25262b;
  --color-white: #f3f3f3;
  --color-gray: #dfdfdf;
  --color-tertiary: #e06b41;
}
