/* ==================== */
/* Fonts import */
/* ==================== */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");

/* ==================== */
/* CSS Reset */
/* ==================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* ==================== */
/* Variables */
/* ==================== */
:root {
  --color-primary-1: #94b2f0;
  --color-secondary-1: #202125;
  --color-secondary-2: #25262b;
  --color-white: #f3f3f3;
  --color-gray: #dfdfdf;
  --color-tertiary: #e06b41;

  /* Media Queries Breakpoints */
  --bp-phone-port: 36em;
  --bp-phone-land: 62em;
  --bp-tab-port: 48em;
  --bp-tab-land: 62em;
  --bp-desktop-small: 75em;
  --bp-desktop-large: 112.5em;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}

/* ==================== */
/* Media Queries */
/* ==================== */
@media only screen and (max-width: var(--bp-tab-port)) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: var(--bp-tab-land)) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: var(--bp-desktop-small)) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: var(--bp-desktop-large)) {
  html {
    font-size: 100%;
  }
}
